* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    /* margin: 1px 0 1px 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-image:url("6.jpg"); */
    background: linear-gradient(to top, #09203f 0%, #537895 100%);

    background-size: cover;
    background-position: right;

}

.container {
    width: 420px;
    background: transparent;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 2);
    /* background-color:rgb(89,114,72); */

    /* border: 2px solid rgba(226, 39, 39, 0.2); */
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.container .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: salmon; */
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;

    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(252, 252, 252);
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: rgb(252, 252, 252);
}

/* inputa girildiğinde placeholderi saklar*/
.input-box input:focus::placeholder {
    color: transparent;
}


.input-box i {
    position: absolute;
    right: 30px;
    top: -20%;
    transform: translate(-50);
    font-size: 20px;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 10px 0;

}

.container .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    margin-left: 50px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.container .btnlar {
    margin: 25px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .btn {

    width: 45%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;



}

.container .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;
}

.container .input-area {
    margin-top: 10px;
    background: transparent;


}

.container #yorum::placeholder {
    color: rgb(252, 252, 252);
}

.container #yorum {
    width: 100%;
    height: 100%;
    background: transparent;

    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    font-size: 16px;
    color: rgb(252, 252, 252);
    padding: 20px 45px 20px 20px;
    margin-bottom: 20px;
}

.container .input-area i {
    position: absolute;
    transform: translate(-50);
    font-size: 22px;
    padding: 0 5px 0 5px;
    margin-left: 66%;
    margin-top: -10px;
    /* background-color: purple; */
}

.container #yorum:focus::placeholder {
    color: transparent;
}

.container .input-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container .btn:hover{
    box-shadow: 2px 1px 10px  #fff;
    transform: scale(1.05);
}